body{
    background-color: gray;
}
.center{
    text-align: center;
}
.title{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    clear: both;
    overflow: auto;
}
.container ul li{
    display: inline-block;
    padding: 10px;
    font-size: 18px;
}
nav{
    float: right;
}
.logo img {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
}

.slider_holder{
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.image_holder{
    height: 400px;
    width: 2400px;
    clear: both;
    position: relative;
    transition: left 2s;
}

.slider_image{
    height: 400px;
    width: 800px;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.button_holder{
    position: relative;
    top: -20px;
    text-align: center;
}

.slider_change{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
}

#slider_image1:target ~ .image_holder{
    left: 0;
}

#slider_image2:target ~ .image_holder{
    left: -800;
}

#slider_image3:target ~ .image_holder{
    left: -1600;
}

.box{
    border: 2px dashed whitesmoke;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    background-color: aqua;
}

a{
    text-decoration: none; 
    color: black;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table,td,th{
    border: 2px solid white;
}
th{
    text-align: center;
    background: rgb(126, 221, 212);
}
td{
    text-align: left;
    background-color: darkgrey;
}
th,td{
    padding: 16px;
}